body{
	font-family: 'Basis Grotesque Medium';
	font-size: 14px;
    line-height: 1.5em;
    color: #000;
}
*{
	margin:0;
	padding:0;
}
header.header {
    padding: 10px 20px;
    clear: both;
    overflow: hidden;
}
.container .header{
	font-size:15px;
}
.header{
	font-size:25px;
}
.logo {
    float: left;
    width: 150px;
}
.menu {
    float: left;
    width: calc(100% - 150px);
	text-align: right;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}
.menu ul li a {
	color: #333;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 20px;
    font-weight: 500;
}
.menu ul li {
    display: inline-block;
    line-height: 65px;
}
img{
	max-width:100%;
}
.promo_section_rwo {
    margin: 51px -15px;
    overflow: hidden;
	padding: 0 20px;
}
h1,h2,h3{
	margin-bottom:20px;
}
p {
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
	margin-bottom: 20px;
}
.promo_section_rwo .col-1 {
    padding: 0 15px;
}
.promo_section_rwo .col-1 {
    padding: 0 15px;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
	text-align: center;
}
a.readMore {
    text-decoration: none;
    background:#e3695f;
    color: #fff;
    display: inline-block;
    padding: 9px 19px;
    margin-top: 30px;
    border-radius: 3px;
}
a.readMore:hover{
	background:#000;
	text-decoration:none;
}
.box ul li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.menu ul li a:hover{
	color:#e3695f;
}
section.main-content_row {
    margin: 0 -15px;
    overflow: hidden;
	padding: 0 20px;
}
.sidebar {
    float: left;
    width: 20%;
	padding: 0 15px;
    box-sizing: border-box;
}
.content {
    width:80%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}
.sidebar .box {
    background: #0000000d;
    padding: 25px;
	    margin-bottom: 15px;
}
.box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a{
	color:#ff0000;
}
footer.footer {
    background: #000;
    text-align: center;
    color: #fff;
    padding: 16px 0;
    overflow: hidden;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.container_inner{
    background: #cccccc52;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
}
section.main-content {
    clear: both;
    overflow: hidden;
}
.container_inner p {
    font-size: 31px;
	font-family:'Helvetica Neue';
}
.container_inner{
	background:url(../img/wolfgang-hasselmann-hx0i1anhEAo-unsplash.jpg) no-repeat center center;
	
}
.header_top_area {
    background: #00abb3;
	color:#fff;
	padding: 8px 0;
}
.header_top_area a{
	color:#fff;
}
a:hover{
	text-decoration:none;
}
.header_social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header_social ul li {
    display: inline-block;
}
.header_social ul li a {
    padding: 0 9px;
    font-size: 17px;
}
.header_social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_left a:last-child{
    margin-left: 30px;
}
ul.main_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
ul.main_menu li {
	display: inline-block;
    line-height: 56px;
}
ul.main_menu li a {
    color: #000;
    text-transform: capitalize;
    font-size: 19px;
    display: block;
    padding: 0 20px;

}
.header_area {
    padding: 20px 0;
}
ul.main_menu li:last-child a,.header_social ul li:last-child a{
	padding-right:0;
}
.slider_area{
	background:url(../img/banner.jpg) no-repeat center center;
	background-size:cover;
}
.banner_text, .banner_text p {
    color: #fff;
}
a.btn {
    background: #00abb3;
    color: #fff;
}
.banner_text {
    padding: 150px 0 150px 85px;
}

.banner_text h2 {
    font-size: 47px;
    margin-bottom: 30px;
}
.banner_text p {
    font-family: 'Basis Grotesque Medium';
    font-size: 18px;
    color: #cecccc;
    margin-bottom: 29px;
}
.searvice_area{
	background:url(../img/service_bg.jpg) repeat-x top center;
}

.banner_text h2 {
    font-family: 'Basis Grotesque Pro Light';
}
.banner_text p{
	font-family: 'Basis Grotesque Medium';	
}
.top_left,.top_right{
	background:url(../img/ga_1.jpg) no-repeat center center;
	    margin-bottom: 30px;
}
.gallery_right span {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 21px;
    padding-bottom: 20px;
}
.botton_full{
	background:url(../img/ga_full.jpg) no-repeat center center;
}
.gallery_right{
	padding-top:180px;
}
.gallery_right {
    background-size: cover;
}
.left_image_full{
	background:url(../img/full_width_left.jpg) no-repeat center center;
	background-size:cover;
	 min-height: 255px;
}
.full_width .right_text {
    background: #04bac2;
	height: 100%;
}
.full_width .col-md-6 {
    padding: 0;
}
.full_width .row {
    margin: 0;
}
.inner_text {
    max-width: 540px;
    padding: 20px;
}
/*

font-family: 'Basis Grotesque Bold';
font-family: 'Basis Grotesque Medium';
font-family: 'Basis Grotesque Regular';
font-family: 'Basis Grotesque Pro Light';

base color: 00abb3
*/

@font-face {
    font-family: 'Basis Grotesque Bold';
    src: url('../fonts/BasisGrotesque-Bold.eot');
    src: url('../fonts/BasisGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BasisGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/BasisGrotesque-Bold.woff') format('woff'),
        url('../fonts/BasisGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Basis Grotesque Medium';
    src: url('../fonts/BasisGrotesque-Medium.eot');
    src: url('../fonts/BasisGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BasisGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BasisGrotesque-Medium.woff') format('woff'),
        url('../fonts/BasisGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Regular';
    src: url('../fonts/BasisGrotesque-Regular.eot');
    src: url('../fonts/BasisGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BasisGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BasisGrotesque-Regular.woff') format('woff'),
        url('../fonts/BasisGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Basis Grotesque Pro Light';
    src: url('../fonts/BasisGrotesquePro-Light.eot');
    src: url('../fonts/BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BasisGrotesquePro-Light.woff2') format('woff2'),
        url('../fonts/BasisGrotesquePro-Light.woff') format('woff'),
        url('../fonts/BasisGrotesquePro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}









