@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Thin.eot');
    src: url('HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Thin.woff2') format('woff2'),
        url('HelveticaNeue-Thin.woff') format('woff'),
        url('HelveticaNeue-Thin.ttf') format('truetype'),
        url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

